<form th:action="@{/ui/agents}"
      method="post">

  <div class="mb-3">

    <label>Agent Name</label>

    <input class="form-control"
           th:field="*{agentName}">

  </div>

  <div class="mb-3">

    <label>Department</label>

    <select class="form-select">

      <option
              th:each="d:${departments}"
              th:value="${d.departmentId}"
              th:text="${d.departmentName}">
      </option>

    </select>

  </div>

  <button class="btn btn-primary">
    Save
  </button>

</form>