<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head('Attachment Details')}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Attachment</h2>

        <a th:href="@{/dashboard}" class="btn btn-outline-primary">

            <i class="bi bi-house-door-fill"></i>

            Dashboard

        </a>

        <h2>Attachment Details</h2>

        <table class="table table-bordered">

            <tr>
                <th>ID</th>
                <td th:text="${attachment.attachmentId}"></td>
            </tr>

            <tr>
                <th>File Name</th>
                <td th:text="${attachment.fileName}"></td>
            </tr>

            <tr>
                <th>File Path</th>
                <td th:text="${attachment.filePath}"></td>
            </tr>

            <tr>
                <th>Ticket ID</th>
                <td th:text="${attachment.ticketId}"></td>
            </tr>

        </table>

        <a th:href="@{/attachments/edit/{id}(id=${attachment.attachmentId})}"
           class="btn btn-warning">
            Edit
        </a>

        <a th:href="@{/attachments}"
           class="btn btn-secondary">
            Back
        </a>

    </div>

  </body>
</html>>