<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head('Edit Attachment')}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Attachment</h2>

        <a th:href="@{/dashboard}" class="btn btn-outline-primary">

            <i class="bi bi-house-door-fill"></i>

            Dashboard

        </a>

    <h2>Edit Attachment</h2>

    <form th:action="@{/attachments/edit/{id}(id=${attachmentId})}"
          method="post"
          th:object="${attachment}">

        <div class="mb-3">
            <label class="form-label">File Name</label>

            <input type="text"
                   class="form-control"
                   th:field="*{fileName}">

            <div class="text-danger"
                 th:if="${#fields.hasErrors('fileName')}"
                 th:errors="*{fileName}">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">File Path</label>

            <input type="text"
                   class="form-control"
                   th:field="*{filePath}">

            <div class="text-danger"
                 th:if="${#fields.hasErrors('filePath')}"
                 th:errors="*{filePath}">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Ticket ID</label>

            <input type="number"
                   class="form-control"
                   th:field="*{ticketId}">

            <div class="text-danger"
                 th:if="${#fields.hasErrors('ticketId')}"
                 th:errors="*{ticketId}">
            </div>
        </div>

        <button type="submit" class="btn btn-success">
            Update
        </button>

        <a th:href="@{/attachments}" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

  </body>
</html>