<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head('Customer Requests')}"></head>

<body>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Customer request</h2>

        <a th:href="@{/dashboard}" class="btn btn-outline-primary">

            <i class="bi bi-house-door-fill"></i>

            Dashboard

        </a>

    </div>


    <div class="d-flex justify-content-between align-items-center mb-3">


        <a th:href="@{/customerRequests/create}"
           class="btn btn-primary">

            Create Customer Request

        </a>

    </div>

    <div class="card shadow">

        <div class="card-body">

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                <tr>

                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Channel</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Customer Id</th>
                    <th>Actions</th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="request : ${customerRequests}">

                    <td th:text="${request.requestId}"></td>

                    <td th:text="${request.title}"></td>

                    <td th:text="${request.description}"></td>

                    <td th:text="${request.channel}"></td>

                    <td th:text="${request.requestType}"></td>

                    <td th:text="${request.requestStatus}"></td>

                    <td th:text="${request.customerId}"></td>

                    <td>

                        <a th:href="@{/customerRequests/{id}(id=${request.requestId})}"
                           class="btn btn-info btn-sm">

                            Details

                        </a>

                        <a th:href="@{/customerRequests/edit/{id}(id=${request.requestId})}"
                           class="btn btn-warning btn-sm">

                            Edit

                        </a>

                        <a th:href="@{/customerRequests/delete/{id}(id=${request.requestId})}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure?')">

                            Delete

                        </a>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>