<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm"
     th:fragment="navbar">

    <div class="container-fluid">

        <button class="btn btn-outline-primary d-lg-none">

            <i class="bi bi-list"></i>

        </button>

        <span class="navbar-brand fw-bold ms-2">

            CRM Ticketing

        </span>

        <div class="ms-auto d-flex align-items-center">

            <div class="me-4 text-end">

                <div class="fw-semibold">

                    <span sec:authentication="name">
                        Admin
                    </span>

                </div>

                <small class="text-muted">

                    Logged In

                </small>

            </div>

            <div class="me-3">

                <i class="bi bi-bell-fill fs-5"></i>

            </div>

            <div class="dropdown">

                <a href="#"

                   class="text-decoration-none"

                   data-bs-toggle="dropdown">

                    <img
                            src="https://ui-avatars.com/api/?name=Admin&background=0d6efd&color=fff"
                            width="42"
                            height="42"
                            class="rounded-circle">

                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>

                        <a class="dropdown-item"
                           th:href="@{/dashboard}">

                            <i class="bi bi-speedometer2"></i>

                            Dashboard

                        </a>

                    </li>

                    <li>

                        <a class="dropdown-item"
                           href="#">

                            <i class="bi bi-person"></i>

                            Profile

                        </a>

                    </li>

                    <li>

                        <a class="dropdown-item"
                           href="#">

                            <i class="bi bi-gear"></i>

                            Settings

                        </a>

                    </li>

                    <li>

                        <hr class="dropdown-divider">

                    </li>

                    <li>

                        <form th:action="@{/logout}" method="post">

                            <button type="submit"
                                    class="dropdown-item text-danger border-0 bg-transparent">

                                <i class="bi bi-box-arrow-right"></i>

                                Logout

                            </button>

                        </form>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</nav>

</body>

</html>