<div th:fragment="sidebar">

    <div class="sidebar">

        <h3 class="logo">CRM Ticket</h3>

        <a th:href="@{/dashboard}">
            Dashboard
        </a>

        <a th:href="@{/customers}">
            Customers
        </a>

        <a th:href="@{/tickets}">
            Tickets
        </a>

        <a th:href="@{/departments}">
            Departments
        </a>

        <a th:href="@{/agents}">
            Agents
        </a>

        <a th:href="@{/customer-requests}">
            Requests
        </a>

        <a th:href="@{/messages}">
            Messages
        </a>

        <a th:href="@{/attachments}">
            Attachments
        </a>

        <a th:href="@{/ticket-history}">
            Ticket History
        </a>

        <a th:href="@{/logout}">
            Logout
        </a>

    </div>

</div>