<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar">

    <div id="sidebar">

        <div class="sidebar-header">

            <i class="bi bi-ticket-perforated-fill"></i>

            <span>

                CRM Ticketing

            </span>

        </div>

        <ul class="sidebar-menu">

            <li>

                <a th:href="@{/dashboard}">

                    <i class="bi bi-speedometer2"></i>

                    Dashboard

                </a>

            </li>

            <li>

                <a th:href="@{/customers}">

                    <i class="bi bi-people-fill"></i>

                    Customers

                </a>

            </li>

            <li>

                <a th:href="@{/tickets}">

                    <i class="bi bi-ticket-fill"></i>

                    Tickets

                </a>

            </li>

            <li>

                <a th:href="@{/messages}">

                    <i class="bi bi-chat-left-text-fill"></i>

                    Messages

                </a>

            </li>

            <li>

                <a th:href="@{/attachments}">

                    <i class="bi bi-paperclip"></i>

                    Attachments

                </a>

            </li>

            <li>

                <a th:href="@{/ticketHistories}">

                    <i class="bi bi-clock-history"></i>

                    Ticket History

                </a>

            </li>

            <li>

                <a th:href="@{/supportAgents}">

                    <i class="bi bi-person-workspace"></i>

                    Support Agents

                </a>

            </li>

            <li>

                <a th:href="@{/departments}">

                    <i class="bi bi-building"></i>

                    Departments

                </a>

            </li>

            <li>

                <a th:href="@{/customerRequests}">

                    <i class="bi bi-envelope-paper-fill"></i>

                    Customer Requests

                </a>

            </li>

            <li>

                <a th:href="@{/slas}">

                    <i class="bi bi-alarm-fill"></i>

                    SLA

                </a>

            </li>

            <hr>

            <li>

                <form th:action="@{/logout}" method="post">

                    <button type="submit"
                            class="border-0 bg-transparent text-white w-100 text-start"
                            style="padding:14px 25px;">

                        <i class="bi bi-box-arrow-right"></i>

                        Logout

                    </button>

                </form>

            </li>

        </ul>

    </div>

</div>

</body>

</html>